
/*.userName {
    background-image: url('../images/svg/user.svg');
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 16px center;
}
.userPass {
    background-image: url('../images/svg/pass.svg');
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 16px center;
}*/

